@model IEnumerable<AM.ApplicationCore.Domain.Infirmier>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InfirmierId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomComplet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.specialite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Laboratoire.Intitule)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.InfirmierId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomComplet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.specialite)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Laboratoire.Intitule)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
